<mat-toolbar class="header mat-elevation-z8 v-middle">
    <div>
        <a class="link-img v-middle" routerLink="/">
            <img class="logo" src="../../../../assets/img/logo.png" alt="logo da COD3R">
        </a>
    </div>
    <div class="title-group">
        <a routerLink="{{ routeUrl }}" class="v-middle link-title">
            <i class="material-icons v-middle">
                {{ icon }}
            </i>
            <span class="text-icon">{{ title }}</span>
        </a>
    </div>
</mat-toolbar>