.sidenav {
    background-color: #4e2772;
    width: 15vw;

    a {
        color: #fff;
    }

    i {
        padding-right: 5px;
    }
}

.content {
    padding: 16px;
    background-color: #fff;
}